<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Author Page</title>
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Girassol&display=swap"
      rel="stylesheet"
    />

    <!-- stylesheets -->
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/styles.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="main">
      <div id="lp_container" class="container__width">
        <div class="title__div ">
          <h1>Avoidance: The Game</h1>
          <h2>The Team</h2>
        </div>

        <div class="row container_ap">
          <div class="card card__auth" style="width: 18rem;">
              <h2 class="card-title">Adam Krueger</h2>
            <img src="/images/adam.jpg" class="card-img-top" alt="headshot of Adam Krueger">
            <div class="card-body">
              <a href="https://github.com/Ada-Kru/" class="btn" target="_blank">GitHub</a>
            </div>
          </div>

          <div class="card card__auth" style="width: 18rem;">
              <h2 class="card-title">Anthony Colannino</h2>
            <img src="/images/anthony.png" class="card-img-top" alt="headshot of Anthony Colannino">
            <div class="card-body">
              <a href="https://www.linkedin.com/in/anthonycolannino94272a166/ " class="btn" target="_blank">LinkedIn</a>
            </div>
          </div>

          <div class="card card__auth" style="width: 18rem;">
            <h2 class="card-title">Don Drummond</h2>
          <img src="/images/don1.png" class="card-img-top" alt="headshot of Don Drummond">
          <div class="card-body">
            <a href="https://github.com/DonaldDrummond" class="btn" target="_blank">GitHub</a>
          </div>
        </div>

          <div class="card card__auth" style="width: 18rem;">
              <h2 class="card-title">Kris Bierma</h2>
            <img src="/images/kris.JPG" class="card-img-top" alt="headshot of Kris Bierma">
            <div class="card-body">
              <a href="http://krisbierma.com/" class="btn" target="_blank">Website</a>
            </div>
          </div>

          <div class="card card__auth" style="width: 18rem;">
              <h2 class="card-title">Ryan Speese</h2>
            <img src="/images/ryan.jpeg" class="card-img-top" alt="headshot of Ryan Speese">
            <div class="card-body">
              <a href="https://github.com/respeese" class="btn" target="_blank">GitHub</a>
            </div>
          </div>

      </div>
    </div>

  </body>
</html>
