<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Avoidance - The Game</title>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet">

    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="styles/reset.css">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="main">
    <div id="lp_container">
        <div class="title__div">
            <h1>Avoidance: The Game</h1>
        </div>
        <div class="description_div">
            Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna
            aliqua. Augue mauris augue neque gravida in fermentum et. Tempor commodo ullamcorper a lacus vestibulum sed
            arcu non
            odio.
        </div>


        <form id="lp_form" action="/index" method="GET">
            <div class="form-group" id="lp_form_username">
                <label for="username">Choose your username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
            </div>
            <p>Choose your occupation</p>
            <div class="form-check">
                <div class="row">
                    <div class="col">
                        <label for="nurse-opt" class="form-check-label">
                            <input type="radio" id="nurse-opt" class="form-check-input" value="nurse" name="occupations"
                                checked>Nurse
                        </label>
                        <ul id="nurse-pts">
                            <li>50 health points</li>
                            <li>80 social points</li>
                        </ul>

                    </div>
                    <div class="col">
                        <label for="teacher-opt" class="form-check-label">
                            <input type="radio" id="teacher-opt" class="form-check-input" value="teacher"
                                name="occupations">Teacher
                        </label>
                        <ul id="teacher-pts">
                            <li>50 health points</li>
                            <li>50 social points</li>
                        </ul>
                    </div>
                    <div class="col">
                        <label for="librarian-opt" class="form-check-label">
                            <input type="radio" id="librarian-opt" class="form-check-input" value="librarian"
                                name="occupations">Librarian
                        </label>
                        <ul id="librarian-pts">
                            <li>80 health points</li>
                            <li>50 social points</li>
                        </ul>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn">Play</button>
        </form>


    </div>

</div>

<script type="application/javascript" src="/scripts/getJobPoints.js"></script>
</body>

</html>
