<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Avoidance - The Game</title>

        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
        <div class="main">
            <div class="container">
                <div class="title__div">
                    <h1>Avoidance</h1>
                    <h3>The Game</h3>
                </div>
                <div class="description_div">
                    Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Augue mauris augue neque gravida in fermentum et. Tempor commodo ullamcorper a lacus vestibulum sed arcu non
                    odio.
                </div>

                <p>Choose your occupation:</p>
                <form action="#">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter username">
                    </div>
                    <div class="form-check">
                        <label for="nurse-opt" class="form-check-label">
                            <input type="radio" id="nurse-opt" class="form-check-input" 
                            value="nurse" name="occupations" checked>Nurse
                        </label>
                        <div id="nurse-pts">
                            <p>- 50 health points</p>
                            <p>- 80 social points</p>
                        </div>
                    
                        <label for="teacher-opt" class="form-check-label">
                            <input type="radio" id="teacher-opt" class="form-check-input" 
                            value="teacher" name="occupations">Teacher
                        </label>
                        <div id="teacher-pts">
                            <p>- 50 health points</p>
                            <p>- 50 social points</p>
                        </div>

                        <label for="librarian-opt" class="form-check-label">
                            <input type="radio" id="librarian-opt" class="form-check-input" 
                            value="librarian" name="occupations">Librarian
                        </label>
                        <div id="librarian-pts">
                            <p>- 80 health points</p>
                            <p>- 50 social points</p>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Play</button>
                </form>
                

            </div>

        </div>
    <body>

    </body>

</html>