/* main containers */
body, html{
  /* min-height: 100%; */
  margin: 0;
  height: 100%;
  background-color: #001a00;
}
.main{
  background-color: #001a00;
  height: 100%;
}
.container{
    height: 100%;
}

.container > div {
  background-color: #ffbb80;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  /* border: 1px solid black; */
  width: 100%;
  box-sizing: border-box;
}

.container > p {
    background-color: #ffbb80;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    /* border: 1px solid black; */
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    text-align: left;
    height: 10%;
}

.container > form {
    background-color: #ffbb80;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    /* border: 1px solid black; */
    width: 100%;
    box-sizing: border-box;
    height: 44%;
}



button {
  background-color: #e66b00;
  font-size: 16px;
  text-align: left;
}

h1, h3{
  font-size: 50px;
  text-align: center;
  font-family: 'Girassol', cursive;
  display: block;
}


.title__div{
    height: 16%;
}

.description__div{
    height: 30%;
}
