/* containers */
body, html{
  margin: 0;
}
.main{
  background-image: url("../images/double-bubble-dark.png");
  background-repeat: repeat;
  min-height: 100vh;
  padding: 5px;
}

#lp_container > div, #lp_container > form, .container > div{
  background-color: #ffbb80;
  text-align: center;
}

#lp_container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.container__lp {
  max-width: 720px;
}

.container__width {
  max-width: 900px;
}

#lp_container > div, #lp_container > form {
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  width: 100%;
  box-sizing: border-box;
}

#lp_container > div, #lp_container > form {
  margin: 20px auto;
}

#lp_container > form {
  height: 50%;
}

#lp_container > div:nth-child(1) {
  height: 10%;
}

#lp_container > div:nth-child(2) {
  height: 20%;
}

.container__lp-description {
  display: flex;
}

#username{
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

#lp_form > div {
  margin-bottom: 1rem;
}

.card__auth {
  max-width: 250px;
  background-attachment: #FFF9ED;
  margin: 5px 0;
}


/* grids */
.container {
  display: grid;
  grid-gap: 4px;
  justify-items: center;
}

.container__main {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px 250px minmax(100px, 195px) 100px;
  grid-template-areas: 
      "header header header"
      "image image description"
      "image image choices"
      "health social choices"
  ;
}

.container__main > div {
  padding: 10px;
}

.container__score {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "header header"
    "social health";
    height: 80%;
  }

.container_ap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container > div {
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
}

.grid__header, .score__header {
  grid-area: header;
}
.grid__menu {
  grid-area: menu;
}
.grid__map {
  grid-area: map;
}
.grid__leaderBoard {
  grid-area: leaderBoard;
}
.grid__social, .score__social {
  grid-area: social;
}
.grid__health, .score__health {
  grid-area: health;
}
.grid__image {
  grid-area: image;
}
.grid__description {
  grid-area: description;
}
.grid__choices {
  grid-area: choices;
}

.ep--btns {
  display: grid;
  grid-gap: 10px;
  justify-items: center;
  grid-template-columns: auto auto;
  grid-template-areas: 
    "button1 button2"
    "button3 button4"
  ;
}
#button1 {
  grid-area: button1;
}
#button2 {
  grid-area: button2;
}
#button3 {
  grid-area: button3;
}
#button4 {
  grid-area: button4;
}


/* images */
#image__main{
  display: flex;
  height: 100%;
}
#img__landing {
  max-width: 350px;
}
img{
  object-fit: contain;
  width: 100%;
  max-height: 400px;
}
.card-img-top {
  max-height: 200px;
}


/* bars */
.progress {
  margin: 10px 0px;
  clear: both;
}

#progress__social, #progress__health {
  height: 28px;
}

.progress-bar--normal {
  background-color: #82D7CF;
}
.progress-bar--danger{
  background-color: #F65454;
  animation-name: flash .3s 4;
  -webkit-animation-name: flash .3s 4;
}

@keyframes flash {
  from { background-color: #F65454; }
  to { background-color: #8a0f1e; }
}

@-webkit-keyframes flash {
  from { background-color: #F65454; }
  to { background-color: #8a0f1e; }
}


/* buttons */
.grid__choices > .btn__choice, .grid__choices > .btn__next, .grid__description > .btn__play{
  background-color: #82D7CF;
  font-size: 16px;
  box-shadow: 0 3px 0 0 #25746c;
}

.grid__choices > .btn__choice{
  text-align: left;
}

.grid__choices > .btn__next, .grid__description > .btn__play, .title__div > h1{
  text-align: center;
}


/* fonts */
h1{
  font-size: 50px;
  font-family: 'Girassol', cursive;
  color: #8a0f1e;
  text-shadow: 1px 1px #f00;
}

.grid__description > p, #play_again_form > button, #lp_form > button{
  font-size: 16px;
  text-align: left;
}

#play_again_form > button, #lp_form > button, .card-body > .btn, .ep--btns > .btn {
  background-color: #e66b00;
  box-shadow: 0 3px 0 0 #994700;

}

.fas {
  color: #82D7CF;
  font-size: 30px;
}
#button1 >.fas, #button2 > .fas, #button3 > .fas, #button4 > .fas {
  color: black;
  font-size: initial;
}

.font--right{
  float: right;
}
.font--left{
  float: left;
}

#nurse-pts, #teacher-pts, #librarian-pts{
  font-size: 70%;
}
.container__lp-description > p {
  margin: auto;
  padding: 0 20px;
}
.card-title {
  margin: .5rem auto;
  font-size: 1.5rem;
}