/* main containers */
body, html{
  /* min-height: 100%; */
  margin: 0;
  height: 100%;
}
.main{
  background-color: #001a00;
  height: 100vh;
}

#lp_container {
    max-width: 720px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

#lp_container > div {
    background-color: #ffbb80;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0px;
}


#lp_container > div:nth-child(1) {
    height: 10%;
    margin: 0px;
    position: relative;
    top: 20px;
}

#lp_container > div:nth-child(2) {
    height: 20%;
    position: relative;
    top: 20px;
}

#lp_container > form {
    background-color: #ffbb80;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0px;
    position: relative;
    top: 20px;
    height: 50%;
}

.title__div > h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Girassol', cursive;
    float: none;
}

#username{
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#lp_form > button {
  background-color: #e66b00;
  font-size: 16px;
  text-align: left;
}

#lp_form > div {
  margin-bottom: 2rem;
}

#nurse-pts, #teacher-pts, #librarian-pts{
  font-size: 70%;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 200px 200px auto;
    grid-template-areas: 
        "header header header header"
        "map image image social"
        "leaderBoard image image health"
        "description description choices choices"
    ;
    grid-gap: 5px;
    background-color: #001a00;
    justify-items: center; /*or stretch to fill the area
    /* justify-content: center;  */
    height: 100%;
}

/* grids */
.container > div {
  background-color: #ffbb80;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  width: 100%;
  box-sizing: border-box;
}

.grid__header {
  grid-area: header;
}
.grid__menu {
  grid-area: menu;
}
.grid__map {
  grid-area: map;
}
.grid__leaderBoard {
  grid-area: leaderBoard;
}
.grid__social {
  grid-area: social;
}
.grid__health {
  grid-area: health;
}
.grid__image {
  grid-area: image;
}
.grid__description {
  grid-area: description;
}
.grid__choices {
  grid-area: choices;
}

/* .grid__data { */
  /* width: 100%; */
  /* height: 100%; */
  /* background-color: #c97b36; */
/* } */


/* images */
#image__main{
  display: flex;
  height: 100%;
  /* background-color: blue; */
}

img{
  object-fit: contain;
  width: 100%;
  /* max-width: 100%; */
}

/* bars and buttons */
.progress {
  margin-top: 30px;
}

#progress__social, #progress__health {
  height: 50px;
}

#progress-bar__social, #progress-bar__health{
  background-color: #e66b00;
}

.grid__choices > .btn__choice {
  background-color: #e66b00;
  font-size: 16px;
  text-align: left;
}


/* fonts */
h1{
  font-size: 50px;
  text-align: left;
  font-family: 'Girassol', cursive;
  float: left;
}

.grid__description > p{
  font-size: 16px;
  text-align: left;
}

.fas {
  color: #e66b00;
}
.icon__home{
  float: right;
}