/* main containers */
body, html{
  /* min-height: 100%; */
  margin: 0;
  /* height: 100%; */
}
.main{
  /* background-color: #001a00; */
  background-image: url("../images/double-bubble-dark.png");
  background-repeat: repeat;
  min-height: 100vh;
  /* height: 100%; */
}

#lp_container {
    max-width: 720px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

#lp_container > div {
    background-color: #ffbb80;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0px;
}


#lp_container > div:nth-child(1) {
    height: 10%;
    margin: 0px;
    position: relative;
    top: 20px;
}

#lp_container > div:nth-child(2) {
    height: 20%;
    position: relative;
    top: 20px;
}

#lp_container > form {
    background-color: #ffbb80;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0px;
    position: relative;
    top: 20px;
    height: 50%;
}

.title__div > h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Girassol', cursive;
    float: none;
}

#username{
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#play_again_form > button {
  background-color: #e66b00;
  font-size: 16px;
  text-align: left;
}

#lp_form > button {
  background-color: #e66b00;
  font-size: 16px;
  text-align: left;
}

#lp_form > div {
  margin-bottom: 2rem;
}

#nurse-pts, #teacher-pts, #librarian-pts{
  font-size: 70%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px 250px auto 100px;
  grid-template-areas: 
      "header header header"
      "image image description"
      "image image choices"
      "health social choices"
  ;
  grid-gap: 4px;
  /* background-color: #001a00; */
  justify-items: center; /*or stretch to fill the area
  /* justify-content: center;  */
  height: 100%;
  min-height: inherit;
}

/* grids */
.container > div {
  background-color: #F9D8A3;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  /* border: 1px solid black; */
  width: 100%;
  box-sizing: border-box;
}

.grid__header {
  grid-area: header;
}
.grid__menu {
  grid-area: menu;
}
.grid__map {
  grid-area: map;
}
.grid__leaderBoard {
  grid-area: leaderBoard;
}
.grid__social {
  grid-area: social;
}
.grid__health {
  grid-area: health;
}
.grid__image {
  grid-area: image;
}
.grid__description {
  grid-area: description;
}
.grid__choices {
  grid-area: choices;
}

/* .grid__data { */
  /* width: 100%; */
  /* height: 100%; */
  /* background-color: #c97b36; */
/* } */


/* images */
#image__main{
  display: flex;
  height: 100%;
  /* background-color: blue; */
}

img{
  object-fit: contain;
  width: 100%;
  /* max-width: 100%; */
}

/* bars and buttons */
.progress {
  margin: 10px 0px;
  clear: both;
}

#progress__social, #progress__health {
  height: 28px;
}

.progress-bar--normal {
  background-color: #82D7CF;
}
.progress-bar--danger{
  background-color: #F65454;
  -webkit-animation-name: flash .3s 4;
  animation: flash .3s 4;
}

@-webkit-keyframes flash {
  from { background-color: #F65454; }
  to { background-color: #8a0f1e; }
}


.grid__choices > .btn__choice, .grid__choices > .btn__next, .grid__description > .btn__play{
  background-color: #82D7CF;
  font-size: 16px;
  box-shadow: 0 3px 0 0 #25746c;
}

.grid__choices > .btn__choice{
  text-align: left;
}

.grid__choices > .btn__next, .grid__description > .btn__play{
  text-align: center;
}

/* fonts */
h1{
  font-size: 50px;
  text-align: left;
  font-family: 'Girassol', cursive;
  float: left;
  color: #8a0f1e;
  text-shadow: 1px 1px #f00;
}

.grid__description > p{
  font-size: 16px;
  text-align: left;
}

.fas {
  /* color: #25746c; */
  color: #82D7CF;
  font-size: 30px;
}
.icon__home{
  float: right;
}
.font--right{
  float: right;
}
.font--left{
  float: left;
}